.NNB_DatePicker * {
    box-sizing:border-box;
    margin: 0px;
    font-family: Verdana,sans-serif;
}

.NNB_DatePicker ul {list-style-type: none;}

.NNB_DatePicker {
    width: 350px;
    box-shadow: 0px 0px 1px 1px rgba(0, 0, 0, 0.2);
    background: white;
    position: relative;
}

.NNB_DatePicker .main {
    box-shadow: 0px 0px 1px 1px rgba(0, 0, 0, 0.2);
    position: absolute;
    background: white;
    z-index: 9;
}

.NNB_DatePicker .clearBoth{
    clear: both;
}

.NNB_DatePicker .icon {
  display: inline-block;
  opacity: 0.6;
  cursor: pointer;
  margin-right: 5px;
  background-repeat: no-repeat;
  background-image: url(sprite.svg);
}
.NNB_DatePicker .icon-spinner11 {
  width: 20px;
  height: 20px;
  background-position: 0 0;
}
.NNB_DatePicker .icon-checkmark {
  width: 20px;
  height: 20px;
  background-position: -36px 0;
}
.NNB_DatePicker .icon-arrow-right {
  width: 20px;
  height: 20px;
  background-position: -72px 0;
}
.NNB_DatePicker .icon-arrow-left {
  width: 20px;
  height: 20px;
  background-position: -108px 0;
}




.NNB_DatePicker .info{
    color: #1f52a5;
    cursor: pointer;
    padding: 5px 5px;
    border-bottom: 1px solid rgba(0, 0, 0, 0.2);
}

.NNB_DatePicker .infoDate{
    overflow: auto;
    text-align: center;
    padding: 0px;
    font-size: 12px;
}

.NNB_DatePicker .infoDate li{
    width: 20%;
    float:left;
}

.NNB_DatePicker .infoDate > :first-child{
    width: 40%;
    float: left;
}

.NNB_DatePicker .infoDate > :last-child{
    width: 40%;
    float: right;
}

.NNB_DatePicker .infoTime{
    overflow: auto;
    text-align: center;
    padding: 0px;
    font-size: 10px;
}


.NNB_DatePicker .infoTime > :first-child{
    width: 40%;
    float: left;
}

.NNB_DatePicker .infoTime > :last-child{
    width: 40%;
    float: right;
}

.NNB_DatePicker .hidden{
    display: none;
}


.NNB_DatePicker .actions{
    margin-top: 10px;
    text-align: center;
}


.NNB_DatePicker .month {
    padding: 10px 10px;
    text-align: center;
    width: 100%;
}

.NNB_DatePicker .month .prev, .next{
    float: left;
    width: 20%;
}

.NNB_DatePicker .month .prev{
    text-align: left;
}

.NNB_DatePicker .month .next{
    text-align: right;
}

.NNB_DatePicker .month .center{
    width: 60%;
    float: left;
}


.NNB_DatePicker .presets{
    padding: 0;
}

.NNB_DatePicker .presets ul{
    text-align: center;
    overflow: auto;
    cursor: pointer;
    line-height: 40px;
    border-bottom: 1px solid rgba(0, 0, 0, 0.2);
    padding: 0;
}

.NNB_DatePicker .presets ul > :first-child{
    text-align: left;
    padding-left: 10px;
    width: 40%;
    float:left;
}

.NNB_DatePicker .presets ul > :last-child{
    width: 60%;
    float:left;
    font-size: 12px;
}

.NNB_DatePicker .pd4{
    padding: 4px;
}

.NNB_DatePicker .dropbtn {
    background-color: #f9f9f9;
    color: #666;
    border: none;
    width: 100%;
    cursor: pointer;
}

.NNB_DatePicker .dropdown {
    position: relative;
    margin: 0px 5px;
    display: inline-block;
}

.NNB_DatePicker .nnb-dropdown-content {
    display: none;
    height: 250px;
    z-index: 9;
    opacity: 1;
    overflow-y: auto;
    position: absolute;
    padding: 2px 5px;
    background-color: white;
    font-size: 12px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
}

.NNB_DatePicker .nnb-dropdown-content a {
    color: #666;
    padding: 4px;
    text-decoration: none;
    display: block;
}

.NNB_DatePicker .nnb-dropdown-content a:hover {background-color: #f1f1f1}

.NNB_DatePicker .dropdown:hover .nnb-dropdown-content {
    display: block;
}

.NNB_DatePicker .dropdown:hover .dropbtn {
    background-color: #f1f1f1;
}



.NNB_DatePicker .weekdays {
    margin: 0;
    padding: 10px 0;
    width: 100%;
    clear: both;
}

.NNB_DatePicker .weekdays li {
    display: inline-block;
    width: 14.28%;
    color: #666;
    text-align: center;
    float: left;
}

.NNB_DatePicker .days {
    padding: 10px 5px;
    width: 100%;
    overflow: auto;
    clear: both;
    margin: 0;
}

.NNB_DatePicker .days li {
    list-style-type: none;
    padding: 2px 0px;
    display: inline-block;
    width: 14.28%;
    cursor: pointer;
    text-align: center;
    margin-bottom: 5px;
    font-size:12px;
    color: #777;
    float: left;
}

.NNB_DatePicker .days li:hover {
    background: white;
}

.NNB_DatePicker .days li.inRange {
    background: #e3e6ea;
}

.NNB_DatePicker .days li.active {
    border-radius: 100px;
    background: #0b377f;
    color: white !important
}

.NNB_DatePicker .time {
    clear:both;
    font-size: 13px;
}

.NNB_DatePicker .doubleTime, .singleTime{
    padding: 0;
}

.NNB_DatePicker .timeLabel {
    width: 50%;
    float:left;
    text-align: right;
}

.NNB_DatePicker .doubleTime li{
    border: 1px solid rgba(0, 0, 0, 0.2);
    display: block;
    float:left;
    height: 100%;
    width: 50%;
}

.NNB_DatePicker .singleTime li{
    border: 1px solid rgba(0, 0, 0, 0.2);
    display: block;
}


/* Add media queries for smaller screens */
@media screen and (max-width:720px) {
    .NNB_DatePicker .weekdays li, .NNB_DatePicker .days li {width: 13.1%;}
}

@media screen and (max-width: 420px) {
    .NNB_DatePicker .weekdays li, .NNB_DatePicker .days li {width: 12.5%;}
    .NNB_DatePicker .days li .active {padding: 2px;}
}

@media screen and (max-width: 290px) {
    .NNB_DatePicker .weekdays li, .NNB_DatePicker .days li {width: 12.2%;}
}